<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Resto App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="add">Add Restaurant<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="update">Update Restaurant</a>
      <a class="nav-item nav-link" routerLink="list">List Restaurant</a>
      <a class="nav-item nav-link" routerLink="login">Login</a>
      <a class="nav-item nav-link" routerLink="register">Register</a>
      <a class="nav-item nav-link" routerLink="menu">Menu</a>
    </div>
  </div>
</nav>


<!-- <h1>Resto App</h1>
<ul>
  <li><a routerLink="add">Add Restaurant</a></li>
  <li><a routerLink="update">Update Restaurant</a></li>
  <li><a routerLink="list">List Restaurant</a></li>
  <li><a routerLink="login">Login</a></li>
  <li><a routerLink="register">Register</a></li>

</ul> -->


<router-outlet></router-outlet>