<p>list-menu works!</p>

<div class="container">
    <div class="jumbotron">
        <h2>Add Item</h2>
    <form [formGroup]="addmenu" (ngSumbit)="collectMenu()">
        <div class="form-group">
            <label>Item Name</label>
            <input type="text" class="form-control" placeholder="Enter Name" formControlName="item">
        </div>
        <div class="form-group">
            <label>Item Price</label>
            <input type="text" class="form-control" placeholder="Enter Price" formControlName="price">
        </div>
        <button type="submit" class="btn btn-primary">Add the item</button>
    </form>
    </div>
</div>
<hr>

<div class="container">
    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Item Name</th>
            <th scope="col">Price</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
      
</div>
